@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif; 
}

/* Top Section banner */

.top-section {
    background-color: #2D25A0;
    padding: 180px 140px 86px 156px;
    transition: background-color 2s linear , transform 2s linear;
}
.top-section:hover {
    background-color: darkolivegreen;
    transform: scale(1.2);
}
.top-banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.banner-details {
    margin-right:142px;
}
.banner-title {
    font-size: 64px;
    font-weight: bold;
    color: white;
    width: 485px;
    height: 230px;
}
.btn-watch {
    padding: 10px 24px;
    background-color: #E02C6D;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-top: 57px;
}
.banner-image img {
    width: 556.01px;
    height: 438px;
    transition: transform 1s;
}
.banner-image:hover img {
    transform: rotate(30deg);
}

/* Player Introduction Section start  */

.player-Intro {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 20px;
}
.players {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    
}
.player {
    background-color: white;
    width: 330px;
    height: 474px;
    box-shadow: 10px 10px 20px gray;
    padding: 15px;
    transition: transform 1s;
}
.player:hover {
    transform: scale(1.1);
}
.player img{
    width: 100%;
    height: 256px;

}
.player-title {
    font-size: 28px;
}
.player-info {
    color: #6C6C6C;
    font-size: 16px;
}


/* Player Introduction Section End  */

/* Post section Style Start */

.post-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    padding: 100px 100px;
}
.post-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px greenyellow;    
}
.post-input {
    border: 2px solid blanchedalmond;
    padding: 15px;
    border-radius: 30px;
    outline: none;
    font-size: 20px;
}
.btn-post {
    padding: 10px 24px;
    background-color:yellowgreen;
    font-weight: 700;
    border-radius: 20px;
    color: aliceblue;
}
.btn-text {
    margin-right: 5px;
}


/* Post section Style End */

/* Clock Design Style Start */
.clock-section {
    padding: 30px 0px;
}
.clock-title {
    text-align: center;
    color: yellow;
}
 .clock-design {
     display: flex;
     justify-content: center;
 }
 .hour-design {
     padding: 20px;
     background-image: linear-gradient(red,green);
     margin-right: 20px;
     border-radius: 40px;
     text-align: center;
     color: aliceblue;
 }
 .minutes-design {
    padding: 20px;
    background-image: linear-gradient(red,green);
    margin-right: 20px;
    border-radius: 40px;
    text-align: center;
    color: chartreuse;
}
.second-design {
     padding: 20px;
     background-image: linear-gradient(red,green);
     margin-right: 20px;
     border-radius: 40px;
     text-align: center;
     color: darkgoldenrod;
 }

/* Clock Design Style End */


/* Footer section style  */

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.footer-section img {
    width: 483.87px;
    height: 110px;
}
.fab.social {
          padding: 10px;
          font-size: 14px;
          color: red;
          border-radius:50%;
          background-color: bisque;
}



/* Media Queries Using */

@media only screen and (max-width: 668px) {
    
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .top-section {
        padding: 100px 15px 61px 15px;
    }
   .top-banner , .players{
       display: grid;
       grid-template-columns: 1fr;
     
    }
    .banner-details {
        margin-right:20px;
    }
    .banner-image img {
        margin-top: 30px;
        width: 329px;
        height: 259.17px;
    }
    .post-section {
        display: grid;
        grid-template-columns:1fr;
        padding: 10px 10px;
        width: 100%;
    }
  
    
}